* {
    box-sizing: border-box;
}

#topnav.navbar-indigo {
    background: #3f51b5;
}

#topnav {
    margin: 0;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top {
    width: 100%;
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1200;
}

#wrapper {
    display: table;
    width: 100%;
    table-layout: fixed;
    overflow: auto;
    height: 100%;
    position: relative;
}

#layout-static {
    display: table-row;
    height: 100%;
}

.static-sidebar-wrapper, .static-sidebar {
    width: 240px;
    transition-duration: 300ms;
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 10000;
    background: #f5f5f5 !important;
}

.static-content-wrapper {
    background: #ffffff !important;
}

.static-content-wrapper {
    position: relative;
}

.static-sidebar-wrapper, .static-content-wrapper {
    vertical-align: top;
}

.static-content-wrapper {
    display: table-cell;
    width: 100%;
    padding-left: 240px;
    transition-duration: 300ms;
}

.menu-splitter {
    height: 1px;
    background: #ccc;
    margin: 0;
    margin-top: -1px;

}

.menu-item {
    position: relative;
    height: 46px;
    width: 100%;
    display: block;
    clear: both;
    color: #000;
    font-size: 16px;
    line-height: 48px !important;
    margin-top: -1px;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
}

.menu-item:hover {
    color: #fff !important;
    background-color: #fff;
    border-bottom-color: #ccc;
    border-top-color: #ccc;
}

.menu-item:active {
    color: #fff !important;
    background-color: #c0c0c0;
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.menu-icon {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 46px !important;
    height: 38px;
    margin: auto;
    width: 48px;
    font-size: 26px !important;
    margin-left: 16px;
    transition-duration: 300ms;
}

.menu-text {
    position: absolute;
    left: 58px;
    top: -2px;
    margin: auto;
    width: 175px;
    transition-duration: 300ms;
}

.menu-item:link .menu-text, .menu-item:visited .menu-text {
    color: #000000 !important;
}

.menu-item:hover .menu-text {
    color: #039be5 !important;
}

.menu-item:active .menu-text {
    color: #fff !important;
}

.menu-item:link .menu-icon, .menu-item:visited .menu-icon {
    color: #000000 !important;
}

.menu-item:hover .menu-icon {
    color: #039be5 !important;
}

.menu-item:active .menu-icon {
    color: #fff !important;
}

.widget {
    transition-duration: 300ms;
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}

.waves-block {
    display: block;
}

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
    z-index: -1;
}

.user-widget {
    height: 80px;
    overflow: hidden;
    background-image: url('images/background.jpg');
    padding: 15px;
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    transition-duration: 200ms;
}

.user-avatar {
    display:inline-block;
    float:left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.user-info {
    float: left;
    font-size: 18px;
    font-weight: 500;
    margin-left:10px;
    margin-top:12px;
    color: #fff;
    opacity: 1;
    overflow:hidden;

}

.toggle-icon > .user-widget {
    padding-left:7px;
}

.toggle-icon > .user-widget > .user-info{
    opacity: 0;
}
@media (max-width: 640px) {

    .menu-text {
        opacity: 0;
    }

    .menu-icon {
        left: 2px;
    }

    .static-sidebar-wrapper, .static-sidebar {
        width: 64px !important;
        overflow: hidden;
    }

    .static-content-wrapper {
        display: table-cell;
        width: 100%;
        background: #fff;
        padding-left: 64px;
    }


    .widget {
        height: 0 !important;
    }
    .user-widget{
        height: 0!important;
        padding:0!important;
    }
}
.static-content{
    margin-top: 65px;
}

.navbar-brand.navbar-blue.toggle-icon {
    width: 64px !important;
}

.navbar-brand.navbar-blue.toggle-icon > .show-on-collapse {
    opacity: 1 !important;
}

.navbar-brand.navbar-blue.toggle-icon > .img-white {
    opacity: 0 !important;

}

.static-sidebar-wrapper.toggle-icon, .static-sidebar.toggle-icon {
    width: 64px !important;
    overflow: hidden;
}

.static-content-wrapper.toggle-icon {
    display: table-cell;
    width: 100%;
    background: #fff;
    padding-left: 64px;
}

.menus.toggle-icon > div > .menu-item > .menu-text {
    opacity: 0;
}

.menus.toggle-icon > div > .menu-item > .menu-icon {
    left: 2px;
}

.static-content-wrapper.toggle-icon {
    display: table-cell;
    width: 100%;
    background: #fff;
    padding-left: 64px;
}

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.7s ease-out;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}

.waves-notransition {
    transition: none !important;
}

.waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.extrabar-underlay {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition-duration: 300ms;
}

.extrabar-underlay.toggle-aside{
    display:block;
      z-index: 1198;
      opacity: 1;    
      transition-duration: 300ms;
}

 .user-aside-1, .user-aside-2 {
            position: fixed;
            top: 64px;
            right: -251px;
            bottom: 0;
            width: 250px;
            background: #ffffff;
            border-left: solid 1px #00aced;
            z-index: 1201;
            transition-duration: 200ms;
        }

        .user-aside-1 header, .user-aside-2 header {
            color: #2196f3;
            font-size: 1.8rem;
            font-weight: 700;
            padding: 8px;
            background: #fff;
            border-top: solid 1px #00aced;
            border-bottom: solid 1px #00aced;

        }

        .user-aside-1.toggle-aside, .user-aside-2.toggle-aside {
            right: 0 !important;
        }

        .progress-report-wrapper{
            border-bottom:solid 1px #ccc;padding:5px;padding-bottom:0;
        }
        .progress-report-wrapper > h5{
            font-weight: bold;
        }
        table.progress-report-item{
            text-align:right;display:block;
        }
        div.progress-report-item{
            padding-bottom:0; margin-bottom:0;
        }
